@font-face {
  font-family: 'NotoSans';
  src: url(../public/font/NotoSans.woff);
}

@font-face {
  font-family: 'NotoSansB';
  src: url(../public/font/NotoSans-Bold.woff);
  font-weight: 600;
}

.App {
  text-align: center;
  font-family: 'NotoSans';
  transform: rotate(0.03deg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: white;
  font-weight: 600;
}

.main-bg{
  height: 300px;
  background-image: url('./img/main-bg_Galaxy-Z-Flip4.jpg');
  background-size: cover;
  background-position: center;
}

/* .flipper-middle{
  width: 80%;
  background-image: url('./img/Row_Galaxy-S22.png');
} */