.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem 10%;
    padding: 1rem;

    border-bottom: 5px solid #ad6e47;
}

.logo {
    display: flex;
    align-items: center;

    font-size: 4rem;
    font-weight: bold;
    gap: 1.5rem;

    color: #411c05;
}

.button {
    display: inline-flex;
    align-items: center;

    gap: 0.5rem;
    padding: 0.75rem 1.5rem;

    background-color: #de8d5b;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.button:hover,
.button:active {
    background-color: #da9a73;
}