@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.recipe {
    margin: 0.5rem;
    padding: 1rem;

    background-color: #DE8D5B;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

    animation: animation-in 1s ease-out forwards;
}

.menu {
    margin: 1rem;
    white-space: pre-wrap;

    color: #4f2810;
    font-size: 2rem;
    font-weight: bold;
}

.text {
    margin: 1rem;
    
    font-family: 'Noto Sans KR', sans-serif;
    color: #ffe5d5;
    font-size: 1rem;
    font-weight: bold;
}

@keyframes animate-in {
from {
    opacity: 0;
    transform: translateY(1rem);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}